<div >

  <!--  navbar -->
<div class="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://clipground.com/images/hospital-logo-clipart-1.jpg" alt="" width="50px"> Sahasra Hospitals
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="drslist" routerLinkActive="active">Doctors
              <i class="fas fa-user-md"></i>
            </a>
          </li>
          
          <li class="nav-item" >
            <a class="nav-link " routerLink="login" routerLinkActive="active">Login
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          
          
          <li class="nav-item" >
            <a class="nav-link" routerLink="register" routerLinkActive="active">Register
              <i class="fas fa-cash-register"></i>
            </a>
          </li>
          
          
          
        </ul>
        
      </div>
    </div>
  </nav>
  </div>

  
<router-outlet></router-outlet>
