<div class="one">
   
    <div class="shade"></div>
    

   <div class="two">
       <h2 class=" text-center">" Our motto "</h2>
       <h2 class="text-center">To render the same level of service to the poor that the rich will get in a good hospital.</h2>
       <h2>                                            A patient is the most important person in our hospital. He is not an interruption to our work. He is the purpose of it. He is not an outsider in our hospital, he is part of it. We are not doing him a favor by serving him, he is doing
          us a favor by giving us an opportunity to do so.</h2>

   </div>


   <h1 class="text-center ">We have the best doctors of the world here!</h1>
   <div class="d-grid gap-2 col-4 mx-auto">
    <button class="btn btn-primary" type="button" (click)="book()">Book an Appoinment <br> Now! </button>
    
  </div>

 <div class="container">
   <div class="row row-cols row-cols-sm-2 ">
    <!-- left one -->
   <div class="child1">
    <div class="col ">
          <div class="card m-4 ">
            <div class="row">
                <div class="col-6">
                    <img src="https://media.istockphoto.com/photos/team-of-doctors-picture-id175408038" width="100%" height="100%" alt="">
                  </div>
              <div class="col-6 ">
                <h3 class="text-center"><i class="fas fa-hands-helping fa-5x"></i></h3>
                <h3>A century ago, we made a commitment. We’ve kept it.</h3>
                <h3>We provide the highest quality of health service here.</h3>
                <h3>A family of hospitals for your family.</h3>
              </div>
              
            </div>
          </div>
    </div>
    </div>
    <!-- right one -->
    <div class="child2">
    <div class="col">
      <div class="card m-4">
          <div class="row">
            <div class="col-6">
              <img src="https://media.istockphoto.com/photos/team-of-doctors-picture-id175408038" width="100%" height="100%" alt="">
            </div>
        <div class="col-6 ">
          <h3 class="text-center"><i class="fas fa-stethoscope fa-5x"></i></h3>
          <h3> My Community. My Hospital. Family friendly. First class. Always Caring. Always Here. Not only caring about you…. We care about Our World. Wisdom for Your Life. For a better tomorrow.</h3>
         
        </div>
            
          </div>
      </div>
    </div>
   
</div>


</div>